.play-icon {
  font-size: 48px;
  margin: 20px;
}

.pause-icon {
  font-size: 48px;
  margin: 20px;
}

.play-icon:hover {
  color: red;
}

.pause-icon:hover {
  color: red;
}


.tools {
  align-content:center;
  border-style: solid;
  display: inline-block;
  justify-content: flex-end;
}

.speed-slider {
  align-items:  center;
}

.slider {
  -webkit-appearance: none;
  height: 15px;
  border-radius: 10px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: red;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #4CAF50;
  cursor: pointer;
}
