/* Style the navigation bar */
.navbar {
    width: 100%;
    background-color: #555;
    overflow: auto;
    opacity: 0.9;
}

/* Navbar links */
.navbar a {
    float: left;
    text-align: center;
    padding: 12px;
    color: white;
    text-decoration: none;
    font-size: 17px;
    font-family: Bahnschrift;
}

/* Navbar links on mouse-over */
.navbar a:hover {
    background-color: #000;
}

/* Current/active navbar link */
.active {
    background-color: #af001f;
}

/* Add responsiveness - will automatically display the navbar vertically instead of horizontally on screens less than 500 pixels */
@media screen and (max-width: 500px) {
    .navbar a {
        float: none;
        display: block;
    }
}

/* Body formatting (add image) */
.body{
    /* The image used */
    background-image: url("../images/newTileFour.png");
}

/*Grid details below*/

.grid-container {
     display: grid;
     grid-template-columns: auto auto;
     grid-gap: 20px;
     /*background-color: #2196F3;*/
     padding-left: 200px;
     padding-right: 200px;
     font-size: 17px;
     font-family: Bahnschrift;
 }

.grid-container2 {
    display: grid;
    grid-template-columns: auto;
    grid-gap: 0px;
    /*background-color: #2196F3;*/
    padding: 0px 10px;
    font-size: 17px;
    font-family: Bahnschrift;
}

.grid-leftColumn {
    background-color: rgba(255, 255, 255, .6);
    text-align: center;
    padding: 10px 0;
    font-size: 20px;
    outline: 10px outset gray;
}

.grid-normal {
    background-color: rgba(100, 100, 100, 0.8);
    text-align: center;
    padding: 10px 0;
    font-size: 20px;
    outline: 2px solid black;
}

.grid-logo {
    padding: 0px 0px 0px 0px;
}

.grid-hide {
    background-color: rgba(0, 0, 0, 0);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
    outline: none;
}

.grid-itemCanvas {
    grid-column: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*Grid details above*/

/* Fancy Start Button Below */

.draw-border {
    box-shadow: inset 0 0 0 4px #000000;
    color: #000000;
    -webkit-transition: color 0.25s 0.0833333333s;
    transition: color 0.25s 0.0833333333s;
    position: relative;
}

.draw-border::before, .draw-border::after {
    border: 0 solid transparent;
    box-sizing: border-box;
    content: '';
    pointer-events: none;
    position: absolute;
    width: 0;
    height: 0;
    bottom: 0;
    right: 0;
}

.draw-border::before {
    border-bottom-width: 4px;
    border-left-width: 4px;
}

.draw-border::after {
    border-top-width: 4px;
    border-right-width: 4px;
}

.draw-border:hover {
    color: #af001f;
}

.draw-border:hover::before, .draw-border:hover::after {
    border-color: #af001f;
    -webkit-transition: border-color 0s, width 0.25s, height 0.25s;
    transition: border-color 0s, width 0.25s, height 0.25s;
    width: 100%;
    height: 100%;
}

.draw-border:hover::before {
    -webkit-transition-delay: 0s, 0s, 0.25s;
    transition-delay: 0s, 0s, 0.25s;
}

.draw-border:hover::after {
    -webkit-transition-delay: 0s, 0.25s, 0s;
    transition-delay: 0s, 0.25s, 0s;
}

.btn {
    background: whitesmoke;
    opacity: 0.8;
    border: none;
    cursor: pointer;
    line-height: 1.5;
    font: 700 1.2rem 'Bahnschrift', sans-serif;
    padding: 1em 2em;
    letter-spacing: 0.05rem;
}

.btn:focus {
    outline: 2px dotted #4c5052;
}

/* Fancy Start Button Above */

/* Logo Details */
.img {
    max-width: 50%;
    height: auto;
    padding: 0px 0px 0px 0px;
}

.speed{
    padding: 0px 0px 0px 0px;
    font-size: 25px;
    font-family: Bahnschrift;
    display:inline-block;
    margin-right:10px;
}

/*Slider*/
#slider{
    direction: rtl;

}

/*Speed Data*/
#dispDiv{
    padding: 0px 0px 0px 0px;
    display:inline-block;
}

#play_btn{
    display:inline-block;
    margin-right:10px;
}

#pause_btn{
    display:inline-block;
}

#refresh_btn{
    margin: 10px;
    padding: 5px;
}
.musicIcon {
    float: right;
    margin-right: 5px;
    border-color: black;
    cursor: pointer;
}

